html {
    background-color: hsl(30, 38%, 92%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.card {
    display: flex;
    width: 600px;
}

.card-img img {
    display: block;
    height: 450px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.card-info {
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info p {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    line-height: 25px;
}
.card-info #name {
    width: 200px;
}
.card-info #price {
    color: hwb(158 24% 50%) ;;
}
.card-info span {
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
    text-decoration: line-through;
    position: relative;
    bottom: 8px;
    left: 8px;
}
.card-info button {
    height: 50px;
    border: none;
    background-color:hwb(158 24% 50%) ;
    color: white;
    border-radius: 12px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.card-info button:hover {
    background-color: hwb(158 24% 70%);
    cursor: pointer;
}
@media only screen and (max-width: 375px){
    .card {
        width: 350px;
        flex-direction: column;
    }
    .card-img img {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 12px;
    }
    .card-info {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 12px;
    }
    .card-info #name {
        width: 300px;
        line-height: 1;
        margin: 18px 0;
    }
    .card-info p:not(:first-child) {
        margin: 0px 0px 18px 0px;
    }
    .card-info #price {
        margin-bottom: 18px;
    }
}

